$ft-font-base-url:      'http://interactivegraphics.ft-static.com/inc/fonts' !default;
$ft-include-fontfaces:  false !default;

@if $ft-include-fontfaces == true {

    @font-face{
        font-family: "ft-icons";
        src: url("#{$font-base-url}/icons.woff") format("woff"),
            url("#{$font-base-url}/icons.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

    @font-face{
        font-family: "MillerDisplay";
        src: url("#{$font-base-url}/MillerDisplay-Roman.woff") format("woff"),
            url("#{$font-base-url}/MillerDisplay-Roman.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

    @font-face{
        font-family: "MillerDisplay";
        src: url("#{$font-base-url}/MillerDisplay-Roman.woff") format("woff"),
            url("#{$font-base-url}/MillerDisplay-Roman.ttf") format("truetype");
        font-style: normal;
        font-weight: 200;
    }

    @font-face{
        font-family: "MillerDisplay";
        src: url("#{$font-base-url}/MillerDisplay-Bold.woff") format("woff"),
            url("#{$font-base-url}/MillerDisplay-Bold.ttf") format("truetype");
        font-style: normal;
        font-weight: bold; 
    }

    @font-face{
        font-family: "MillerDisplay";
        src: url("#{$font-base-url}/MillerDisplay-Italic.ttf") format("truetype"),
            url("#{$font-base-url}/MillerDisplay-Roman.woff") format("woff");
        font-style: italic;
        font-weight: normal;
    }

    @font-face{
        font-family: "MillerDisplay";
        src: url("#{$font-base-url}/MillerDisplay-SemiboldItal.ttf") format("truetype"),
            url("#{$font-base-url}/MillerDisplay-Bold.woff") format("woff");
        font-style: italic;
        font-weight: bold;
    }

    @font-face{
        font-family: "BentonSans";
        src: url("http://s1.ft-static.com/m/font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot");
        src: url("http://s1.ft-static.com/m/font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot?#iefix") format("embedded-opentype"), 
        url("#{$font-base-url}/BentonSansRegular.woff") format("woff"),
        url("#{$font-base-url}/BentonSansRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

    @font-face{
        font-family: "BentonSans";
        src: url("http://s1.ft-static.com/m/font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot");
        src: url("http://s1.ft-static.com/m/font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot?#iefix") format("embedded-opentype"), 
        url("#{$font-base-url}/BentonSansBold.woff") format("woff"),
        url("#{$font-base-url}/BentonSansBold.ttf") format("truetype");
        font-style: normal;
        font-weight: bold;
    }

    @font-face{
        font-family: "BentonSans";
        src: url("#{$font-base-url}/BentonSansLight.woff") format("woff"),
            url("#{$font-base-url}/BentonSansLight.ttf") format("truetype");
        font-style: normal;
        font-weight: 200;
    }

    @font-face{
        font-family: "Clarion";
        src: url("#{$font-base-url}/Clarion.woff") format("woff"),
            url("#{$font-base-url}/Clarion.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

    @font-face{
        font-family: "Clarion";
        src: url("#{$font-base-url}/Clarion-Italic.woff") format("woff"),
            url("#{$font-base-url}/Clarion-Italic.ttf") format("truetype");
        font-style: italic;
        font-weight: normal;
    }

    @font-face{
        font-family: "Clarion";
        src: url("#{$font-base-url}/Clarion-Bold.woff") format("woff"),
            url("#{$font-base-url}/Clarion-Bold.ttf") format("truetype");
        font-style: normal;
        font-weight: bold;
    }
}
