$ft-font-base-url:       "http://interactivegraphics.ft-static.com/inc/fonts" !default;

$ft-include-fontfaces:    false !default;

$ft-include-miller-font:  true !default;
$ft-include-benton-font:  true !default;
$ft-include-clarion-font: true !default;
$ft-include-icon-font:    true !default;

$ft-fontfamily-miller: "MillerDisplay", "Clarion", Georgia, serif;
$ft-fontfamily-clarion: "Clarion", Georgia, serif;
$ft-fontfamily-benton: "BentonSans", Arial, Helvetica, sans-serif;

@if $ft-include-fontfaces == true {

    @if $ft-include-icon-font == true{
        @font-face{
            font-family: "ft-icons";
            src: url("#{$ft-font-base-url}/icons.woff") format("woff"),
                url("#{$ft-font-base-url}/icons.ttf") format("truetype");
            font-style: normal;
            font-weight: normal;
        }
    }

    @if $ft-include-miller-font == true{

        @font-face{
            font-family: "MillerDisplay";
            src: url("#{$ft-font-base-url}/MillerDisplay-Roman.eot");
            src: url("#{$ft-font-base-url}/MillerDisplay-Roman.eot?#iefix") format("embedded-opentype"),
                 url("#{$ft-font-base-url}/MillerDisplay-Roman.woff") format("woff"),
                 url("#{$ft-font-base-url}/MillerDisplay-Roman.ttf") format("truetype");
            font-style: normal;
            font-weight: normal;
        }

        @font-face{
            font-family: "MillerDisplay";
            src: url("#{$ft-font-base-url}/MillerDisplay-Light.eot");
            src: url("#{$ft-font-base-url}/MillerDisplay-Light.eot?#iefix") format("embedded-opentype"),
                 url("#{$ft-font-base-url}/MillerDisplay-Light.woff") format("woff"),
                 url("#{$ft-font-base-url}/MillerDisplay-Light.ttf") format("truetype");
            font-style: normal;
            font-weight: 200;
        }

        @font-face{
            font-family: "MillerDisplay";
            src: url("#{$ft-font-base-url}/MillerDisplay-Bold.eot");
            src: url("#{$ft-font-base-url}/MillerDisplay-Bold.eot?#iefix") format("embedded-opentype"),
                 url("#{$ft-font-base-url}/MillerDisplay-Bold.woff") format("woff"),
                 url("#{$ft-font-base-url}/MillerDisplay-Bold.ttf") format("truetype");
            font-style: normal;
            font-weight: bold;
        }

        @font-face{
            font-family: "MillerDisplay";
            src: url("#{$ft-font-base-url}/MillerDisplay-Italic.eot");
            src: url("#{$ft-font-base-url}/MillerDisplay-Italic.eot?#iefix") format("embedded-opentype"),
                 url("#{$ft-font-base-url}/MillerDisplay-Italic.woff") format("woff"),
                 url("#{$ft-font-base-url}/MillerDisplay-Italic.ttf") format("truetype");
            font-style: italic;
            font-weight: normal;
        }

        @font-face{
            font-family: "MillerDisplay";
            src: url("#{$ft-font-base-url}/MillerDisplay-SemiboldItal.eot");
            src: url("#{$ft-font-base-url}/MillerDisplay-SemiboldItal.eot?#iefix") format("embedded-opentype"),
                 url("#{$ft-font-base-url}/MillerDisplay-SemiboldItal.woff") format("woff"),
                 url("#{$ft-font-base-url}/MillerDisplay-SemiboldItal.ttf") format("truetype");
            font-style: italic;
            font-weight: bold;
        }
    }

    @if $ft-include-benton-font == true{
        @font-face{
            font-family: "BentonSans";
            src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-regular.eot");
            src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-regular.eot?#iefix") format("embedded-opentype"), 
            url("#{$ft-font-base-url}/BentonSansRegular.woff") format("woff"),
            url("#{$ft-font-base-url}/BentonSansRegular.ttf") format("truetype");
            font-style: normal;
            font-weight: normal;
        }

        @font-face{
            font-family: "BentonSans";
            src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-bold.eot");
            src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-bold.eot?#iefix") format("embedded-opentype"), 
            url("#{$ft-font-base-url}/BentonSansBold.woff") format("woff"),
            url("#{$ft-font-base-url}/BentonSansBold.ttf") format("truetype");
            font-style: normal;
            font-weight: bold;
        }

        @font-face{
            font-family: "BentonSans";
            src: url("#{$ft-font-base-url}/BentonSansLight.eot");
            src: url("#{$ft-font-base-url}/BentonSansLight.eot?#iefix") format("embedded-opentype"),
                 url("#{$ft-font-base-url}/BentonSansLight.woff") format("woff"),
                 url("#{$ft-font-base-url}/BentonSansLight.ttf") format("truetype");
            font-style: normal;
            font-weight: 200;
        }
    }

    @if $ft-include-clarion-font == true{
        /* eot is not included with clarion because it"s better to use Georgia for old IE versions */
        @font-face{
            font-family: "Clarion";
            src: url("#{$ft-font-base-url}/Clarion.woff") format("woff"),
                url("#{$ft-font-base-url}/Clarion.ttf") format("truetype");
            font-style: normal;
            font-weight: normal;
        }

        @font-face{
            font-family: "Clarion";
            src: url("#{$ft-font-base-url}/Clarion-Italic.woff") format("woff"),
                url("#{$ft-font-base-url}/Clarion-Italic.ttf") format("truetype");
            font-style: italic;
            font-weight: normal;
        }

        @font-face{
            font-family: "Clarion";
            src: url("#{$ft-font-base-url}/Clarion-Bold.woff") format("woff"),
                url("#{$ft-font-base-url}/Clarion-Bold.ttf") format("truetype");
            font-style: normal;
            font-weight: bold;
        }
    }
}
